{% if page.paper-title %}
    <h1>{{ page.paper-title }}</h1>
{% endif %}

{% if page.author %}
    {{ page.author }}
{% else %}
    $$
    \mathbf{\text{Wonjun Park}} \\
    \text{Computer Science} \\
    \text{University of Texas at Arlington} \\
    \text{Arlington, TX, USA} \\
    \text{wxp7177@mavs.uta.edu} \\
    $$
{% endif %}

{% if page.abstract %}
    <h5><i>Abstract</i></h5>
    {{ page.abstract }}
{% endif %}

{% if page.acronym_and_abbreviation %}
    {{ page.acronym_and_abbreviation }}
{% endif %}

{% if page.keywords %}
    <h5>Keywords</h5>
    {{ page.keywords }}
{% endif %}
